In [1]:
# Importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
# Models Libraries
from scipy import stats

In [2]:
# a) Load the data
path = os.getcwd()
df = pd.read_csv(path+"/sample_diabetes_mellitus_data.csv")
df.head()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,14.1,0,0,0,0,0,0,0,1
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,1,12.7,0,0,0,0,0,0,0,1
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,1,8.0,0,0,0,0,0,0,0,0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,NaN,0,0,0,0,0,0,0,0

In [23]:
df.shape

(10000, 53)

In [24]:
df.describe()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,readmission_status,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
count,10000.00000,10000.000000,10000.000000,9595.000000,8262.000000,10000.000000,9840.000000,10000.000000,10000.000000,10000.0,...,10000.000000,7802.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4999.50000,212388.142800,103.047300,62.409693,29.776210,0.229200,169.902573,105.659500,0.638186,0.0,...,0.302900,11.619673,0.000400,0.017800,0.013600,0.046100,0.007700,0.005700,0.026100,0.228800
std,2886.89568,38026.609268,30.924057,16.603704,8.374851,0.420339,10.724366,17.855964,2.134813,0.0,...,0.459535,6.774651,0.019997,0.132231,0.115829,0.209712,0.087416,0.075287,0.159441,0.420081
min,0.00000,147009.000000,4.000000,16.000000,14.844926,0.000000,137.200000,82.000000,-0.224306,0.0,...,0.000000,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2499.75000,179460.000000,83.000000,53.000000,23.945379,0.000000,162.600000,92.000000,0.002604,0.0,...,0.000000,7.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4999.50000,211995.500000,118.000000,64.000000,28.196655,0.000000,170.200000,99.000000,0.011111,0.0,...,0.000000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7499.25000,245350.250000,118.000000,75.000000,33.749859,0.000000,177.800000,114.000000,0.166146,0.0,...,1.000000,14.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9999.00000,279000.000000,198.000000,89.000000,67.814990,1.000000,195.590000,171.000000,49.523611,0.0,...,1.000000,45.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
# c. Remove those rows that contain NaN values in the columns: age, gender, ethnicity.
def drop_na(df, columns):
    df_drop = df.dropna(subset=columns)
    return df_drop

In [26]:
result_c = drop_na(df, ['age', 'gender', 'ethnicity'])
print(result_c.shape)
print(result_c.describe())

(9368, 53)
        Unnamed: 0   encounter_id  hospital_id          age          bmi  \
count  9368.000000    9368.000000   9368.00000  9368.000000  7746.000000
mean   4960.428266  212345.733668    103.41898    62.394321    29.979575
std    2869.379920   38038.252549     30.65302    16.576126     8.423311
min       0.000000  147009.000000      4.00000    16.000000    14.844926
25%    2470.750000  179317.750000     83.00000    53.000000    24.197271
50%    4964.500000  212132.500000    118.00000    64.000000    28.375322
75%    7418.250000  245163.250000    118.00000    75.000000    33.939251
max    9999.000000  279000.000000    198.00000    89.000000    67.814990

       elective_surgery       height       icu_id  pre_icu_los_days  \
count       9368.000000  9241.000000  9368.000000       9368.000000
mean           0.232494   170.137378   105.155956          0.633913
std            0.422445    10.673220    16.989158          2.160380
min            0.000000   137.200000    82.000000         -0.224306
25%            0.000000   162.600000    92.000000          0.002083
50%            0.000000   170.200000    99.000000          0.010417
75%            0.000000   177.800000   114.000000          0.143056
max            1.000000   195.590000   171.000000         49.523611

       readmission_status  ...  ventilated_apache   wbc_apache         aids  \
count              9368.0  ...        9368.000000  7314.000000  9368.000000
mean                  0.0  ...           0.303053    11.619673     0.000427
std                   0.0  ...           0.459602     6.763588     0.020660
min                   0.0  ...           0.000000     0.900000     0.000000
25%                   0.0  ...           0.000000     7.100000     0.000000
50%                   0.0  ...           0.000000     9.900000     0.000000
75%                   0.0  ...           1.000000    14.700000     0.000000
max                   0.0  ...           1.000000    45.800000     1.000000

         cirrhosis  hepatic_failure  immunosuppression     leukemia  \
count  9368.000000      9368.000000        9368.000000  9368.000000
mean      0.018894         0.014304           0.047929     0.007899
std       0.136158         0.118747           0.213628     0.088531
min       0.000000         0.000000           0.000000     0.000000
25%       0.000000         0.000000           0.000000     0.000000
50%       0.000000         0.000000           0.000000     0.000000
75%       0.000000         0.000000           0.000000     0.000000
max       1.000000         1.000000           1.000000     1.000000

          lymphoma  solid_tumor_with_metastasis  diabetes_mellitus
count  9368.000000                  9368.000000        9368.000000
mean      0.005551                     0.026793           0.233988
std       0.074301                     0.161488           0.423387
min       0.000000                     0.000000           0.000000
25%       0.000000                     0.000000           0.000000
50%       0.000000                     0.000000           0.000000
75%       0.000000                     0.000000           0.000000
max       1.000000                     1.000000           1.000000

[8 rows x 47 columns]

In [27]:
# d. Fill NaN with the mean value of the column in the columns: height, weight.
def fill_na(df, columns):
    df[columns] = df[columns].apply(lambda col: col.fillna(col.mean()))
    return df

In [28]:
result_d = fill_na(df, ['height', 'weight'])
print(result_d.shape)
print(result_d.describe())

(10000, 53)
        Unnamed: 0   encounter_id   hospital_id          age          bmi  \
count  10000.00000   10000.000000  10000.000000  9595.000000  8262.000000
mean    4999.50000  212388.142800    103.047300    62.409693    29.776210
std     2886.89568   38026.609268     30.924057    16.603704     8.374851
min        0.00000  147009.000000      4.000000    16.000000    14.844926
25%     2499.75000  179460.000000     83.000000    53.000000    23.945379
50%     4999.50000  211995.500000    118.000000    64.000000    28.196655
75%     7499.25000  245350.250000    118.000000    75.000000    33.749859
max     9999.00000  279000.000000    198.000000    89.000000    67.814990

       elective_surgery        height        icu_id  pre_icu_los_days  \
count      10000.000000  10000.000000  10000.000000      10000.000000
mean           0.229200    169.902573    105.659500          0.638186
std            0.420339     10.638217     17.855964          2.134813
min            0.000000    137.200000     82.000000         -0.224306
25%            0.000000    162.600000     92.000000          0.002604
50%            0.000000    170.200000     99.000000          0.011111
75%            0.000000    177.800000    114.000000          0.166146
max            1.000000    195.590000    171.000000         49.523611

       readmission_status  ...  ventilated_apache   wbc_apache          aids  \
count             10000.0  ...       10000.000000  7802.000000  10000.000000
mean                  0.0  ...           0.302900    11.619673      0.000400
std                   0.0  ...           0.459535     6.774651      0.019997
min                   0.0  ...           0.000000     0.900000      0.000000
25%                   0.0  ...           0.000000     7.100000      0.000000
50%                   0.0  ...           0.000000     9.900000      0.000000
75%                   0.0  ...           1.000000    14.600000      0.000000
max                   0.0  ...           1.000000    45.800000      1.000000

          cirrhosis  hepatic_failure  immunosuppression      leukemia  \
count  10000.000000     10000.000000       10000.000000  10000.000000
mean       0.017800         0.013600           0.046100      0.007700
std        0.132231         0.115829           0.209712      0.087416
min        0.000000         0.000000           0.000000      0.000000
25%        0.000000         0.000000           0.000000      0.000000
50%        0.000000         0.000000           0.000000      0.000000
75%        0.000000         0.000000           0.000000      0.000000
max        1.000000         1.000000           1.000000      1.000000

           lymphoma  solid_tumor_with_metastasis  diabetes_mellitus
count  10000.000000                 10000.000000       10000.000000
mean       0.005700                     0.026100           0.228800
std        0.075287                     0.159441           0.420081
min        0.000000                     0.000000           0.000000
25%        0.000000                     0.000000           0.000000
50%        0.000000                     0.000000           0.000000
75%        0.000000                     0.000000           0.000000
max        1.000000                     1.000000           1.000000

[8 rows x 47 columns]

In [29]:
# Clean data from NA (ex. c and d)
def clean_na(df, columns_drop, columns_fill):
    df_clean = df.dropna(subset=columns_drop)
    df_clean[columns_fill] = df_clean[columns_fill].apply(lambda col: col.fillna(col.mean()))
    
    return df_clean

In [30]:
columns_drop = ['age', 'gender', 'ethnicity']
columns_fill = ['height', 'weight']
result_clean = clean_na(df, columns_drop, columns_fill)
result_clean.describe()
#result_clean.shape

C:\Users\bakwe\AppData\Local\Temp\ipykernel_27936\2886374843.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[columns_fill] = df_clean[columns_fill].apply(lambda col: col.fillna(col.mean()))

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,readmission_status,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
count,9368.000000,9368.000000,9368.00000,9368.000000,7746.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.0,...,9368.000000,7314.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000
mean,4960.428266,212345.733668,103.41898,62.394321,29.979575,0.232494,170.134195,105.155956,0.633913,0.0,...,0.303053,11.619673,0.000427,0.018894,0.014304,0.047929,0.007899,0.005551,0.026793,0.233988
std,2869.379920,38038.252549,30.65302,16.576126,8.423311,0.422445,10.600653,16.989158,2.160380,0.0,...,0.459602,6.763588,0.020660,0.136158,0.118747,0.213628,0.088531,0.074301,0.161488,0.423387
min,0.000000,147009.000000,4.00000,16.000000,14.844926,0.000000,137.200000,82.000000,-0.224306,0.0,...,0.000000,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2470.750000,179317.750000,83.00000,53.000000,24.197271,0.000000,162.600000,92.000000,0.002083,0.0,...,0.000000,7.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4964.500000,212132.500000,118.00000,64.000000,28.375322,0.000000,170.200000,99.000000,0.010417,0.0,...,0.000000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7418.250000,245163.250000,118.00000,75.000000,33.939251,0.000000,177.800000,114.000000,0.143056,0.0,...,1.000000,14.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9999.000000,279000.000000,198.00000,89.000000,67.814990,1.000000,195.590000,171.000000,49.523611,0.0,...,1.000000,45.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
# e. Generate dummies for ethnicity column (One hot encoding).
def one_hot(df, columns):
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df[columns]).toarray()
    encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(columns))
    df.reset_index(drop=True, inplace=True)  # Reset the index and drop the old index column
    encoded_df = pd.concat([df, encoded_df], axis=1)
    return encoded_df

In [32]:
result_e = one_hot(df, ['ethnicity'])
print(result_e.head())

   Unnamed: 0  encounter_id  hospital_id   age        bmi  elective_surgery  \
0           0        214826          118  68.0  22.732803                 0
1           1        246060           81  77.0  27.421875                 0
2           2        276985          118  25.0  31.952749                 0
3           3        262220          118  81.0  22.635548                 1
4           4        201746           33  19.0        NaN                 0

   ethnicity gender  height hospital_admit_source  ... lymphoma  \
0  Caucasian      M   180.3                 Floor  ...        0
1  Caucasian      F   160.0                 Floor  ...        0
2  Caucasian      F   172.7  Emergency Department  ...        0
3  Caucasian      F   165.1        Operating Room  ...        0
4  Caucasian      M   188.0                   NaN  ...        0

   solid_tumor_with_metastasis diabetes_mellitus ethnicity_African American  \
0                            0                 1                        0.0
1                            0                 1                        0.0
2                            0                 0                        0.0
3                            0                 0                        0.0
4                            0                 0                        0.0

   ethnicity_Asian  ethnicity_Caucasian  ethnicity_Hispanic  \
0              0.0                  1.0                 0.0
1              0.0                  1.0                 0.0
2              0.0                  1.0                 0.0
3              0.0                  1.0                 0.0
4              0.0                  1.0                 0.0

   ethnicity_Native American  ethnicity_Other/Unknown  ethnicity_nan
0                        0.0                      0.0            0.0
1                        0.0                      0.0            0.0
2                        0.0                      0.0            0.0
3                        0.0                      0.0            0.0
4                        0.0                      0.0            0.0

[5 rows x 60 columns]

In [33]:
def binary(df, columns):
    df['Binary'] = df[columns].apply(lambda x: 1 if x == 'M' else 0)
    return df

In [34]:
result_f = binary(df, 'gender')
print(result_f.head())

   Unnamed: 0  encounter_id  hospital_id   age        bmi  elective_surgery  \
0           0        214826          118  68.0  22.732803                 0
1           1        246060           81  77.0  27.421875                 0
2           2        276985          118  25.0  31.952749                 0
3           3        262220          118  81.0  22.635548                 1
4           4        201746           33  19.0        NaN                 0

   ethnicity gender  height hospital_admit_source  ... wbc_apache  aids  \
0  Caucasian      M   180.3                 Floor  ...       14.1     0
1  Caucasian      F   160.0                 Floor  ...       12.7     0
2  Caucasian      F   172.7  Emergency Department  ...        NaN     0
3  Caucasian      F   165.1        Operating Room  ...        8.0     0
4  Caucasian      M   188.0                   NaN  ...        NaN     0

  cirrhosis hepatic_failure  immunosuppression  leukemia  lymphoma  \
0         0               0                  0         0         0
1         0               0                  0         0         0
2         0               0                  0         0         0
3         0               0                  0         0         0
4         0               0                  0         0         0

   solid_tumor_with_metastasis  diabetes_mellitus  Binary
0                            0                  1       1
1                            0                  1       0
2                            0                  0       0
3                            0                  0       0
4                            0                  0       1

[5 rows x 54 columns]

In [35]:
# Encode variables (ex. e and f)
def encode(df, columns_hot, columns_binary):
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df[columns_hot]).toarray()
    encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(columns_hot))
    df.reset_index(drop=True, inplace=True)  # Reset the index and drop the old index column
    encoded_df = pd.concat([df, encoded_df], axis=1)
    df['Binary'] = df[columns_binary].apply(lambda x: 1 if x == 'M' else 0)
    return encoded_df

In [36]:
result_encoded = encode(df, ['ethnicity'], 'gender')
print(result_encoded.head())

   Unnamed: 0  encounter_id  hospital_id   age        bmi  elective_surgery  \
0           0        214826          118  68.0  22.732803                 0
1           1        246060           81  77.0  27.421875                 0
2           2        276985          118  25.0  31.952749                 0
3           3        262220          118  81.0  22.635548                 1
4           4        201746           33  19.0        NaN                 0

   ethnicity gender  height hospital_admit_source  ...  \
0  Caucasian      M   180.3                 Floor  ...
1  Caucasian      F   160.0                 Floor  ...
2  Caucasian      F   172.7  Emergency Department  ...
3  Caucasian      F   165.1        Operating Room  ...
4  Caucasian      M   188.0                   NaN  ...

  solid_tumor_with_metastasis  diabetes_mellitus Binary  \
0                           0                  1      1
1                           0                  1      0
2                           0                  0      0
3                           0                  0      0
4                           0                  0      1

  ethnicity_African American  ethnicity_Asian  ethnicity_Caucasian  \
0                        0.0              0.0                  1.0
1                        0.0              0.0                  1.0
2                        0.0              0.0                  1.0
3                        0.0              0.0                  1.0
4                        0.0              0.0                  1.0

   ethnicity_Hispanic  ethnicity_Native American  ethnicity_Other/Unknown  \
0                 0.0                        0.0                      0.0
1                 0.0                        0.0                      0.0
2                 0.0                        0.0                      0.0
3                 0.0                        0.0                      0.0
4                 0.0                        0.0                      0.0

   ethnicity_nan
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0

[5 rows x 61 columns]

In [7]:
def process_data(df, columns_drop, columns_fill, columns_hot, columns_binary):
    df_clean = df.dropna(subset=columns_drop)
    df_clean[columns_fill] = df_clean[columns_fill].apply(lambda col: col.fillna(col.mean()))
    df_clean['Binary'] = df_clean[columns_binary].apply(lambda x: 1 if x == 'M' else 0)
    encoder = OneHotEncoder()
    encoded_data = encoder.fit_transform(df_clean[columns_hot]).toarray()
    encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(columns_hot))
    df_clean.reset_index(drop=True, inplace=True)  # Reset the index and drop the old index column
    encoded_df = pd.concat([df_clean, encoded_df], axis=1)
    
    return encoded_df

In [8]:
columns_drop = ['age', 'gender', 'ethnicity']
columns_fill = ['height', 'weight']
columns_hot = ['ethnicity']
columns_binary = 'gender'
result_processed = process_data(df, columns_drop, columns_fill, columns_hot, columns_binary)
result_processed.head()

C:\Users\bakwe\AppData\Local\Temp\ipykernel_9884\1374386509.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean[columns_fill] = df_clean[columns_fill].apply(lambda col: col.fillna(col.mean()))
C:\Users\bakwe\AppData\Local\Temp\ipykernel_9884\1374386509.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['Binary'] = df_clean[columns_binary].apply(lambda x: 1 if x == 'M' else 0)

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus,Binary,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,0,1,1,0.0,0.0,1.0,0.0,0.0,0.0
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,0,0,1,0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,0,0,1,0.0,0.0,1.0,0.0,0.0,0.0

In [9]:
result_processed.describe()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,readmission_status,...,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus,Binary,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown
count,9368.000000,9368.000000,9368.00000,9368.000000,7746.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.0,...,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000,9368.000000
mean,4960.428266,212345.733668,103.41898,62.394321,29.979575,0.232494,170.137378,105.155956,0.633913,0.0,...,0.005551,0.026793,0.233988,0.549424,0.077605,0.010354,0.844684,0.041204,0.016866,0.009287
std,2869.379920,38038.252549,30.65302,16.576126,8.423311,0.422445,10.600618,16.989158,2.160380,0.0,...,0.074301,0.161488,0.423387,0.497578,0.267563,0.101234,0.362225,0.198773,0.128776,0.095925
min,0.000000,147009.000000,4.00000,16.000000,14.844926,0.000000,137.200000,82.000000,-0.224306,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2470.750000,179317.750000,83.00000,53.000000,24.197271,0.000000,162.600000,92.000000,0.002083,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,4964.500000,212132.500000,118.00000,64.000000,28.375322,0.000000,170.200000,99.000000,0.010417,0.0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,7418.250000,245163.250000,118.00000,75.000000,33.939251,0.000000,177.800000,114.000000,0.143056,0.0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,9999.000000,279000.000000,198.00000,89.000000,67.814990,1.000000,195.590000,171.000000,49.523611,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
result_processed.shape

(9368, 60)