In [1]:
import pandas as pd
from bse_demo_library.features.compute_death_rate import compute_death_rate
# from HW3.features.process_data import process_data

ModuleNotFoundError: No module named 'HW3'

In [14]:
# Comment (Tatiana) was working on this cell, can be removed - moved everything to my own branch
# import pandas as pd
# import sys
# sys.path.append(r'C:\Users\bakwe\Documents\GitHub\Git extra\HW3\HW3')
# import HW3
# from HW3.features.process_data import process_data

In [3]:
data = pd.read_csv('../covid.csv')

In [15]:
# Comment (Tatiana) was working on this cell, can be removed - moved everything to my own branch
# loaddata(r'C:\Users\bakwe\Documents\GitHub\Git extra\HW3\sample_diabetes_mellitus_data.csv')

NameError: name 'loaddata' is not defined

In [4]:
data

                Country  Confirmed  Deaths  Recovered  Active
0           Afghanistan        120       4          2     114
1               Albania        212      10         33     169
2               Algeria        511      31         31     449
3               Andorra        334       6          1     327
4                Angola          7       2          0       5
..                  ...        ...     ...        ...     ...
172           Venezuela        119       2         39      78
173             Vietnam        188       0         25     163
174  West Bank and Gaza        109       1         18      90
175              Zambia         29       0          0      29
176            Zimbabwe          7       1          0       6

[177 rows x 5 columns]

In [5]:
compute_death_rate(data)

                Country  Confirmed  Deaths  Recovered  Active  death_rate
0           Afghanistan        120       4          2     114    0.035088
1               Albania        212      10         33     169    0.059172
2               Algeria        511      31         31     449    0.069042
3               Andorra        334       6          1     327    0.018349
4                Angola          7       2          0       5    0.400000
..                  ...        ...     ...        ...     ...         ...
172           Venezuela        119       2         39      78    0.025641
173             Vietnam        188       0         25     163    0.000000
174  West Bank and Gaza        109       1         18      90    0.011111
175              Zambia         29       0          0      29    0.000000
176            Zimbabwe          7       1          0       6    0.166667

[177 rows x 6 columns]